@use "../helpers" as *;


.advantage-card {
    display: grid;
    row-gap: rem(30);

    @include laptop {
        row-gap: rem(20);
    }

    @include mobile {
        row-gap: rem(13);
    }

    &__link {
        --circleSize: #{rem(52)};
        --circleMarginLeft: #{rem(20)};

        position: relative;
        display: grid;
        row-gap: rem(5);
        padding-right: calc(var(--circleSize + var(--circleMarginLeft)));

        @include laptop {
            --circleSize: #{rem(44)};
            --circleMarginLeft: #{rem(14)};

            row-gap: rem(2);
        }

        @include mobile {
            --circleSize: #{rem(40)};
        }

        &::after {
            @include square(var(--circleSize));
            @include abs-y;

            right: 0;
            background-color: var(--main-accent);
            background-image: url("../../icons/arrow-top-right_black.svg");
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            content: '';
        }
    }

    &__details {
        @include fluid-text(20, 14);
        
        font-family: var(--font-famaly-accent);
    }

    &__image {
        @include laptop {
            //Высота встанет автоматитечски 40
            width: rem(40);
        }

        @include mobile {
            width: rem(30);
        }
    }
}