@use "../helpers" as *;

.blog-card {
    display: grid;
    grid-template-columns: 24% 1fr auto;
    align-items: center;
    column-gap: fluid(50, 28);
    padding-block: fluid(80, 40);

    @include laptop {
        column-gap: rem(40);
    }
    
    @include mobile {
        grid-template-columns: 1fr auto;
        grid-template-areas: 
            'author link'
            'body body';
        row-gap: rem(30);
    }

    &__date {
        font-size: fluid(20, 16);
        font-weight: 600;
    }

    &__body {
        display: grid;
        row-gap: fluid(30, 20);

        @include mobile {
            grid-area: body;
            row-gap: rem(20);
        }
    }

    &__info {
        display: grid;
        row-gap: fluid(10, 4);
    }

    &__link {
        padding: rem(18) rem(24);

        @include mobile {
            grid-area: link;
        }
    }

    &__author {
        @include mobile {
            grid-area: author;
        }
    }
}