@use "../helpers" as *;

.blog-actions {
    &__list {
        display: flex;
        column-gap: rem(10);

        @include laptop {
            column-gap: rem(8);
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        background-color: var(--color-dark-10);
        border: var(--border-default);
        border-radius: rem(100);
        color: var(--color-grey-60);
        padding: rem(8) rem(16);
        column-gap: rem(4);

        @include laptop {
            padding: rem(6) rem(12);
            column-gap: rem(2);
        }
    }

    &__icon-wrapper {
        width:rem(24);

        @include laptop {
            width: rem(20);
        }
    }
}