@use "../helpers" as *;


.card {
    @include tablet-above {
        display: grid;
        grid-template-columns: 37.5% auto;
    }

    &__preview,
    &__body {
        padding: rem(80);

        @include laptop {
            padding: rem(60);        
        }

    }

    &__preview {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: fluid(40, 20);
        padding-left: 0;
        
        @include tablet-above {
            border-right: var(--border-default);
        }

        @include tablet {
            padding-right: 0;
            padding-block: rem(50);
            border-bottom: var(--border-default);
        }

        &-main {
            display: grid;
            row-gap: fluid(50, 24);

            @include tablet {
                justify-content: start;
            }
        }
        
        &-icon {
            width: fluid(80, 50);
        }

        &-info {
            display: grid;
            row-gap: fluid(16, 6);
        }

        &-extra {
            display: grid;
            grid-template-columns: 1fr auto;
            column-gap: rem(50);
            row-gap: rem(60);
            padding: rem(30);
            background-color: var(--color-dark-10);
            border-radius: rem(13);
            border: var(--border-default);
            width: max-content;

            @include laptop {
                column-gap: rem(30);
                padding: rem(20);
            }

            @include mobile {
                padding: rem(30) rem(20);
            }
        }
    }

    &__body {
        padding-right: 0;

        @include tablet {
            padding: rem(30) 0;
        }

        &--no-padding-block {
            padding-block: 0;

            @include laptop {
                padding: 0;        
            }
        }
    }

    &__grid {
        display: grid;

        &--2-cols {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: fluid(30, 10);

            @include mobile {
                grid-template-columns: repeat(1, 1fr);
            }
        }
        
        &--2-cols-alt {
            row-gap: rem(30);
            column-gap: rem(20);

            @include laptop {
                row-gap: rem(24);
                column-gap: rem(16);
            }

            @include mobile-above {
                grid-template-columns: auto 1fr;
            }
        }

        &--3-cols {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding-right: rem(60);

            @include laptop {
                padding: rem(30) 0;
            }

            @include tablet {
                grid-template-columns: repeat(1, 1fr);

                &:last-child {
                    padding-bottom: 0;
                }

                &:first-child {
                    padding-top: 0;
                }
            }
        }
        
    }

    &__cell {
        display: flex;
        flex-direction: column;
        justify-content: start;
        row-gap: fluid(20, 4);

        &--wide {
            grid-column: -1 / 1;
        }

        &--center {
            align-items: center;
            padding-block: fluid(80, 40);
            padding-right: rem(50);
            padding-left: rem(50);
            row-gap: rem(40);

            @include laptop {
                row-gap: rem(30);
            }

            @include tablet {
                &:not(:last-child) {
                    border-bottom: var(--border-default);
                }
            }

            @include tablet-above {
                &:nth-child(1),
                &:nth-child(2) {
                    border-right: var(--border-default);
                }
            }
            
        }

        &-link {
            align-self: center;
            grid-area: link;
        }

        &-subtitle {
            font-weight: 500;
            font-size: fluid(18, 14);
            color: var(--color-grey-60);
            grid-area: subtitle;
        }

        &-description {
            grid-area: description;
        }

        &-image {
            width: 100%;
            height: fluid(332, 169);
            object-fit: cover;
            border-radius: rem(12);

            @include laptop {
                border-radius: rem(10);
            }
        }

        &:has(.card__cell-link) {
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-areas: 
                'subtitle link'
                'description link';
            column-gap: rem(20);
        }
        
        &:has(> *:only-child) {
            justify-content: center;
        }
    }
}