@use "../helpers" as *;

.metrics {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    &__item {
        display: flex;
        flex-direction: column-reverse;
        row-gap: rem(10);
        padding: rem(50);

        @include laptop {
            row-gap: rem(2);
            padding-top: rem(30);
            padding-right: rem(40);
        }

        @include mobile {
            row-gap: rem(0);
            padding: rem(20);
        }

        &:first-child {
            padding-left: rem(0);
        }

        &:not(:last-child) {
            border-right: var(--border-default);
        }
    }

    &__value {
        font-weight: 600;
    }

    &__sign {
        color: var(--main-accent);
    }
}