@use "../helpers" as *;

.person-card {
    --image-size: #{rem(80)};

    padding-block: fluid(80, 40);
    display: flex;
    align-items: center;
    column-gap: fluid(16, 8);

    @include laptop {
        --image-size: #{rem(60)};
    }

    &--review {
        --image-size: #{rem(60)};

        padding-block: 0;

        @include laptop {
            --image-size: #{rem(50)};
        }
    }

    &__image {
        width: var(--image-size);
        border-radius: 50%;
        background-color: var(--color-dark-15);
    }

    &__body {
        align-items: center;

        @include laptop-above {
            row-gap: rem(2);
        }
    }

    &__name {
        font-size: rem(20);
        font-weight: 600;
        color: var(--color-light);

        @include laptop {
            font-size: rem(18);
        }
    }

    &__department {
        font-size: fluid(18, 14);
    }
}