@use "../helpers" as *;

.person-card {
    padding-block: fluid(80, 40);
    display: flex;
    align-items: center;
    column-gap: fluid(16, 8);

    &__image {
        width: rem(80);
        border-radius: rem(42);
        background-color: var(--color-dark-15);

        @include laptop {
            width: rem(60);
        }
    }

    &__body {
        row-gap: rem(2);
        align-items: center;
    }

    &__name {
        font-size: rem(20);
        font-weight: 600;
        color: var(--color-light);

        @include laptop {
            font-size: rem(18);
        }
    }

    &__department {
        font-size: fluid(18, 14);
    }
}