@use "../helpers" as *;

.resources-preview {
    display: flex;
    flex-direction: column;
    justify-content: end;
    row-gap: rem(30);
    align-items: start;

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: rem(15);
    }
}