@use "helpers" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  @include visually-hidden;
}

.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

//Устанавливаем псевдоэлементам ширину до края вьюпорта не входящую в container
//Потом в модификаторах заполняем нужные псевдоэлементы контентом
//Это нужно чотбы отображались только нужные нам части
.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc((100vw - var(--container-width)) / 2);
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: '';
      bottom: 100%;
    }
  }

  &--bottom {
    &::after {
      content: '';
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      content: '';
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      content: '';
      left: 100%;
    }
  }
  
}

.circle-icon {
    --circleSize: #{rem(52)};
    --circleMarginLeft: #{rem(20)};

    position: relative;
    min-height: var(--circleSize);
    padding-right: calc(var(--circleSize + var(--circleMarginLeft)));

    @include laptop {
        --circleSize: #{rem(44)};
        --circleMarginLeft: #{rem(14)};

        row-gap: rem(2);
    }

    @include mobile {
        --circleSize: #{rem(40)};
    }

    &::after {
        @include square(var(--circleSize));
        @include abs-y;

        right: 0;
        background-color: var(--main-accent);
        background-image: url("../../icons/arrow-top-right_black.svg");
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 100%;
        content: '';
    }
}
